.container {
  width: 22%;
  padding: 1rem;
  margin: 0.2rem 0.4rem;
  border-bottom: 1px solid var(--medium-color);
}
.imageContainer {
  display: flex;
  justify-content: center;
}
.title {
  padding: 1rem 0;
  color: var(--main-color);
}
.price {
  font-size: 1.125rem;
  font-weight: bold;
  color: var(--dark-color);
}
.desc {
  margin-top: 0.5rem;
  font-size: 0.875rem;
  color: var(--medium-color);
}
